<h1 class="subtitle"><%= @user.first_name %>  <%= @user.last_name %></h1> <br>
  <h4><%= @user.email %></h4><br>
<div class="col-xs-offset-4 col-xs-4">

<!-- DISPLAY USER AND PAGE INFO -->
<div>
</div>
  <h2><%= @page.name %></h2> <br>
  <h4><%=  @page.content %></h4>
</div>

<!-- BUTTONS -->
<a class="back" href="../"><button class="btn btn-default">Back to Post</button></a>
<a href="<%= @page.id %>/edit"><button class="btn btn-default">Edit Page</button></a>
<form method="post" class="deletepage" action="/users/<%= @user.id %>/pages/<%= @page.id %>">
  <input name="_method" type="hidden" value="delete" /><button class="btn btn-default">Delete Page</button>
  <%= token_tag form_authenticity_token %>
</form>
</div>
