<div class="col-xs-offset-4 col-xs-4">
<div>

  <h2><%= @user.first_name %></h2> <h2><%= @user.last_name %></h2> <br>
  <h6><%= @user.email %></h6><br>
</div>
  <h4><%= @page.name %></h4> <br>
  <p><%=  @page.content %></p>
</div>
<a class="back" href="../">Back to Post</a>
<a href="<%= @page.id %>/edit"><button>Edit Page</button></a>
<form method="post" action="/users/<%= @user.id %>/pages/<%= @page.id %>">
  <input name="_method" type="hidden" value="delete" /><button>Delete Page</button>
  <%= token_tag form_authenticity_token %>
</form>
</div>
