<div class="col-xs-offset-4 col-xs-4">
<div>

  <h2><%= @user.first_name %> <%= @user.last_name %></h2> <br>
  <h6><%= @user.email %></h6><br>
</div>
  <h4><%= @post.title %></h4> <br>
  <p><%=  @post.body %></p>
  <a href="/users/<%= @user.id %>/posts/<%= @post.id%>/edit">Edit Post</a>
</div>
<form method="post" action="/users/<%= @user.id %>/posts/<%= @post.id %>">
    <input name="_method" type="hidden" value="delete" /><button>Delete Post</button>
    <%= token_tag form_authenticity_token %>
  </form>
<a class="back" href="../"><button>Back to Post</button></a>
</div>


<!-- SHOW TAGS -->
<h2>Tags:</h2>
<h3>
	<ul>
		<% @post.tags.each do |tag|%>
			<li><a href="../../../tags/<%=tag.id%>"><%= tag.name %></a></li>
		<% end %>
	</ul>
</h3>

<%= form_for [@user, @post, @comment] do |f|%>
<input type="hidden" name="user_id" value="<%= @user.id %>">
  <%= f.text_area :comment %>
  <%= f.submit %>
<%- end %>
<!-- SHOW COMMENTS -->

  <% @usser = @user.id %>

<h1>Comments: </h1>
<ul>
  <% @post.comments.each do |comment|%>
  <li><%= comment.comment %></li>


  <% end %>


</ul>





