


<h1 class="subtitle">Many Blogs. So little time.</h1>

<!-- LINK TO CREATE NEW USER -->
<div class="displayhomepage">
<% @users.each do |user| %>
 <!-- DISPLAY USERS -->
  <div>
      <h2><img class="profilepic" src="<%= user.image_url %>">
      <a href="/users/<%=user.id%>"><%= user.first_name %>
      <%= user.last_name %></a></h2>
      <p>
        <%= user.email %>
        <% if user.posts.length > 0 %>
        <% count = 0 %>
        <% while count < 3 %>
         <% if user.posts[-1 - count] != nil %>
          <h4><a href="/users/<%=user.id%>/posts/<%=user.posts[-1 - count].id%>"><%= user.posts[-1 - count].title %></a><%= user.posts[-1 - count].created_at.in_time_zone('Pacific Time (US & Canada)').strftime(" %B %d, %Y %I:%M %p") %></h4>
            <% end %>

          <% count += 1 %>
          <% end %>
          <% end %>
        <!-- LINK TO SHOW /USERS/U_ID -->
        <h5><a class="moreinfo" href="/users/<%=user.id%>">More info on the User</a></h5>
        </div>
        

      </p>
   <% end %>
  </div>
  </div>